{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Add Expense</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% include "partials/common_input.html" %}
                    {% include "partials/input2.html" %}
                 
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Add Expense</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}